@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  cursor: url('lib/img/cursor.png'), auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  color:#ffffff;
  font-size: 16px;
  font-family: 'Titillium Web', Arial, sans-serif;
  cursor: url('lib/img/cursor.png'), auto;
}

a {
  cursor: url('lib/img/pointer.png'), auto;
}

/* Bootstrap overwrite */

.container {
  max-width: 1200px;
}

.navbar {
  margin-top:20px;
  margin-bottom: 40px;
}

.nav-link, .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

input {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  cursor: url('lib/img/cursor.png'), auto;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 0;
  background-color:#7E9181;
  color: #ffffff;
  box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  -webkit-box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  -moz-box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  outline: none;
}

input[type="text"]::placeholder {
  color:#ffffff;
}

input[type="text"]:focus {
  background-color:#5E6D61FF;
  box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
  -webkit-box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
  -moz-box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
}

.form-control {
  display: inline-block;
  max-width: 200px;
  font-size: 13px;
  height: auto;
}

.cardCtn{
  border-radius: 0;
  justify-content: center;
  align-items: center;
  background-color: #483B3A;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23755C55FF' stroke-width='10' stroke-dasharray='10%2c 22%2c 19%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  min-width: 136px;
  min-height: 136px;
}

.card {
  background-color: transparent;
  border-radius: 0;
  border:0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  line-height: 18px;
  margin-bottom:40px;
}

.card:hover{
  cursor: url('lib/img/pointer.png'), auto
}

.card-body {
  padding:10px 0;
}

.spriteCtn {
  height: 76px;
  width: 50px;
  overflow: hidden;
  position: relative;
}

@keyframes walkingAnimation {
  to {left: -300%}
}

.cardCtn img {
  width: 700%;
  position: absolute;
  top: -150px;
  animation: walkingAnimation 0.5s steps(4) infinite;
}

.card .spriteID {
  color: #C7C7C7;
  flex-grow: 1;
}

.card .cpPrice {
  color: #FFFFFF;
}