@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, select {
  cursor: url('lib/img/cursor.png'), auto;
}

a, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  color:#ffffff;
  font-size: 16px;
  font-family: 'Titillium Web', Arial, sans-serif;
  cursor: url('lib/img/cursor.png'), auto;
}

a {
  cursor: url('lib/img/pointer.png'), auto;
}

/* heading */

 h2 {
   font-family: 'Share Tech Mono', monospace;
   font-size: 48px;
   line-height: 54px;
   margin: 0;
   padding: 0;
 }

 h3 {
   font-family: 'Share Tech Mono', monospace;
   margin: 0 0 20px;
   padding: 0;
   font-size: 24px;
   line-height: 27px;
 }

/* Bootstrap overwrite */

.container {
  max-width: 1200px;
}

.navbar {
  margin-top:20px;
  margin-bottom: 40px;
}

.nav-link, .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-text{
  color: #C7C7C7 !important;
  font-family: 'Share Tech Mono', monospace;
  margin: 0 15px;
  text-decoration: none;
}

.navbar-text:hover{
  color:#ffffff !important;
  text-decoration: none;
}

input {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  cursor: url('lib/img/cursor.png'), auto;
  margin: 10px 0;
}

label {
  margin: 10px 0;
  width:100%;
  opacity: 0.5;
  cursor: url('lib/img/cursor.png'), auto;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border: 0;
  background-color:#7E9181;
  color: #ffffff;
  box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  -webkit-box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  -moz-box-shadow: 1px 1px 0 3px rgba(94,109,97,1) inset;
  outline: none;
}

.searchBar {
  max-width: 100% !important;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
  color:#ffffff;
}

input[type="text"]:focus {
  background-color:#5E6D61FF;
  box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
  -webkit-box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
  -moz-box-shadow: 1px 1px 0 3px rgb(70, 81, 72) inset;
}

.form-control {
  display: inline-block;
  max-width: 200px;
  font-size: 13px;
  height: auto;
}

.cardCtn{
  border-radius: 0;
  justify-content: center;
  align-items: center;
  background-color: #483B3A;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23755C55FF' stroke-width='10' stroke-dasharray='10%2c 22%2c 19%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  min-width: 136px;
  min-height: 136px;
}

.card {
  background-color: transparent;
  border-radius: 0;
  border:0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  line-height: 18px;
  margin-bottom:40px;
}

.card:hover{
  cursor: url('lib/img/pointer.png'), auto
}

.card-body {
  padding:10px 0;
}

.spriteCtn {
  height: 76px;
  width: 50px;
  overflow: hidden;
  position: relative;
}

@keyframes walkingAnimation {
  to {left: -300%}
}

.cardCtn img, .ownerCard img, .spriteDetailsCtn img, .spritePreview img {
  width: 700%;
  position: absolute;
  top: -150px;
  animation: walkingAnimation 0.5s steps(4) infinite;
}

.spriteID {
  color: #C7C7C7;
  flex-grow: 1;
  font-family: 'Share Tech Mono', monospace;
}


.card .cpPrice {
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
}

.dateListed {
  font-size: 16px;
  line-height: 18px;
  color: #C7C7C7;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 40px;
}

.spritePrice {
  font-family: 'Share Tech Mono', monospace;
  font-size: 56px;
  line-height: 63px;
  margin-bottom: 20px;
}

button, .btn {
  letter-spacing: -0.065em;
  padding: 5px 17px;
  outline: none;
  border: none;
  border-radius: 8px;
  transform-style: preserve-3d;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  cursor: url('lib/img/pointer.png'), auto !important;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  line-height: 41px;
}

.btn-primary {
  background: #96ACB7;
  color:#222222;
}

.btn-primary::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  transform: translate3d(0, 8px, -1px);
  background-color: #6B777D;
}
.btn-primary:hover {
  background-color: #96ACB7;
  transform: translateY(5px);
  color:#222222;
}
.btn-primary:hover::before {
  transform: translate3d(0, 4px, -1px);
}
.btn-primary:active, .btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #96ACB7;
  transform: translateY(8px);
}
.btn-primary:active::before, .btn-primary:focus::before, .btn-primary.focus::before, .btn-primary:not(:disabled):not(.disabled):active::before, .btn-primary:not(:disabled):not(.disabled).active::before, .show > .btn-primary.dropdown-toggle::before {
  transform: translate3d(0, 0px, -1px);
}

.btn-secondary {
  background: #F4EEA9;
  color:#7E9181;
}

.btn-secondary::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  transform: translate3d(0, 8px, -1px);
  background-color: #6B777D;
}
.btn-secondary:hover {
  background-color: #F4EEA9;
  color:#7E9181;
}

.btn-tertiary {
  background: #E08D79;
  color:#222222;
}

.btn-tertiary::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  transform: translate3d(0, 8px, -1px);
  background-color: #A86859;
}
.btn-tertiary:hover {
  background-color: #E08D79;
  transform: translateY(5px);
  color:#222222;
}
.btn-tertiary:hover::before {
  transform: translate3d(0, 4px, -1px);
}
.btn-tertiary:active, .btn-tertiary:focus, .btn-tertiary.focus, .btn-tertiary:not(:disabled):not(.disabled):active, .btn-tertiary:not(:disabled):not(.disabled).active, .show > .btn-tertiary.dropdown-toggle {
  background-color: #E08D79;
  transform: translateY(8px);
}
.btn-tertiary:active::before, .btn-tertiary:focus::before, .btn-tertiary.focus::before, .btn-tertiary:not(:disabled):not(.disabled):active::before, .btn-tertiary:not(:disabled):not(.disabled).active::before, .show > .btn-tertiary.dropdown-toggle::before {
  transform: translate3d(0, 0px, -1px);
}
.spriteDetails input[type="text"] {
  font-size: 28px;
  line-height: 32px;
}

.spriteDetails button {
  margin-right: 15px;
}

.spriteDetails:last-child {
  margin-right: 0;
}

.spriteDetailsImage {
  position: relative;
  display: flex;
  justify-content: center;
}

.spriteDetailsCtn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.spriteBox {
  margin-top: -35px;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(6, 55px);
  grid-template-rows: repeat(6, 55px);
}

.spriteBox span {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.spriteBox-top-left {
  background-image: url("lib/img/sprite-box/top-left-ceiling.png");
}

.spriteBox-top-mid {
  background-image: url("lib/img/sprite-box/top-mid-ceiling.png");
}

.spriteBox-top-right {
  background-image: url("lib/img/sprite-box/top-right-ceiling.png");
}

.spriteBox-top-wall-left {
  background-image: url("lib/img/sprite-box/top-left-wall.png");
}

.spriteBox-top-wall-mid {
  background-image: url("lib/img/sprite-box/wall_mid.png");
}

.spriteBox-top-wall-right {
  background-image: url("lib/img/sprite-box/top-right-wall.png");
}

.spriteBox-mid-left {
  background-image: url("lib/img/sprite-box/mid-left.png");
}

.spriteBox-mid-mid {
  background-image: url("lib/img/sprite-box/floor.png");
}

.spriteBox-mid-right {
  background-image: url("lib/img/sprite-box/mid-right.png");
}

.spriteBox-btm-left {
  background-image: url("lib/img/sprite-box/bottom-left.png");
}

.spriteBox-btm-mid {
  background-image: url("lib/img/sprite-box/bottom-middle.png");
}

.spriteBox-btm-right {
  background-image: url("lib/img/sprite-box/bottom-right.png");
}

.spriteBox-btm-wall-left {
  background-image: url("lib/img/sprite-box/wall_left.png");
}

.spriteBox-btm-wall-mid {
  background-image: url("lib/img/sprite-box/wall_mid.png");
}

.spriteBox-btm-wall-right {
  background-image: url("lib/img/sprite-box/wall_right.png");
}

.spriteOwner {
  margin-top: 15px;
  color: #C7C7C7;
  font-family: 'Share Tech Mono', monospace;
}

.ownerCard{
  align-items: center;
  cursor: url('lib/img/pointer.png'), auto !important;
}

.ownerName {
  margin-left: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.divider {
  margin: 30px 0;
  border-top: 1px solid #3E3E3E;
}

.table {
  color: #E7E7E7;
  width: 100%;
  font-size: 14px;
}

.table thead th {
  border-bottom: 0;
}

.table th {
  border-top:0;
  background-color: #3C3939;
}

.table td{
  border-top: 0px;
  border-bottom: 1px solid #545454;
}

.table tr:nth-of-type(even){
  background-color:#3C3939;
}

.table tr:nth-of-type(odd){
  background-color:#252525;
}

.table-hover tbody tr:hover {
  color: #808080;
}

.spriteInfo {
  align-items: center;
}

.spriteStats {
  margin-top: 15px;
}

.spriteStatus {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
  color: white;
}

.own {
  background: #4BA747;
}

.dontown {
  background: #ff0000;
}

.spriteStatus.own:before, .spriteStatus.own:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.spriteStatus.own:before {
  top: -6px;
  left: 0;
  border-top: 6px #97DA3F solid;
  border-bottom: 6px #3D734F solid;
}
.spriteStatus.own:after {
  left: -6px;
  top: 0;
  border-left: 6px #4BA747 solid;
  border-right: 6px #3D734F solid;
}

.list {
  background: #5698CC;
}

.spriteStatus.list:before, .spriteStatus.list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.spriteStatus.list:before {
  top: -6px;
  left: 0;
  border-top: 6px #72D6CE solid;
  border-bottom: 6px #5956BD solid;
}
.spriteStatus.list:after {
  left: -6px;
  top: 0;
  border-left: 6px #5698CC solid;
  border-right: 6px #5956BD solid;
}

.boughtDate {
  margin-left: 25px;
  font-size: 16px;
  line-height: 18px;
  color: #C7C7C7;
  font-family: 'Share Tech Mono', monospace;
}

.showDesktop {
  display: block;
}

.nav-tabs {
  z-index: 1;
  border-bottom: 1px solid #3E3E3E;
}

.nav-tabs .nav-link, .userSettingsTab {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
  padding: 21px 15px;
  display: flex;
  align-items: center;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .userSettingsTab:hover {
  border: none;
  opacity: 1;
}

.userSprites .spriteBox, .spriteGrid {
  margin-top: -35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
  grid-auto-rows: 55px;
  grid-template-rows: unset;
  grid-gap: 0;
}

.userSprites .spriteDetailsImage {
  display: block;
}

.spriteGrid {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.userSprites .spriteDetailsCtn {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  grid-column-start: 2;
  grid-row-start: 3;
}

.currentPixelsTab:before {
  content: "";
  background: url("lib/img/chest.png") center center no-repeat;
  background-size: auto;
  height: 37px;
  width: 37px;
  margin-right: 15px;
}

.listedPixelsTab:before {
  content: "";
  background: url("lib/img/crate.png") center center no-repeat;
  background-size: auto;
  height: 37px;
  width: 37px;
  margin-right: 15px;
}

#tab-tabpane-soldPixels .table {
  font-size: 16px;
}

.soldPixelsTab:before {
  content: "";
  background: url("lib/img/coin.png") center center no-repeat;
  background-size: auto;
  height: 37px;
  width: 37px;
  margin-right: 15px;
}

.achievementsTab:before {
  content: "";
  background: url("lib/img/heart.png") center center no-repeat;
  background-size: auto;
  height: 37px;
  width: 37px;
  margin-right: 15px;
}

.userSettingsTab {
  margin-left: auto;
}

.userSettingsTab:before {
  content: "";
  background: url("lib/img/life-potion.png") center center no-repeat;
  background-size: auto;
  height: 37px;
  width: 37px;
  margin-right: 15px;
}

.navbar-dark .navbar-toggler {
  border: none;
  color: #ffffff;
  cursor: url("lib/img/pointer.png"), auto;
}


@media screen and (max-width: 768px) {
  .table {
    border: 0;
    font-size: 16px;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: 20px;
  }

  .table td {
    display: block;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
  .spriteInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .spriteBox {
    flex-grow: 1;
    max-width: 330px;
    min-width: 330px;
    max-height: 330px;
    min-height: 330px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .boughtDate {
    margin-left: 0;
  }
  .showDesktop {
    display: none;
  }

  .userSprites .spriteBox {
    max-width: unset;
    min-width: unset;
    max-height: unset;
    min-height: unset;
  }

  .signupForm input, .adminForm input {
    max-width: 100%;
  }

  .signupForm .text-right, .adminForm .text-right {
    text-align: left !important;
  }
}

@media screen and (max-width: 715px){
  .nav-tabs .nav-link, .userSettingsTab{
    width:25%;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
  }

  .nav-tabs .nav-link{
    width:25%;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
  }

  .currentPixelsTab:before, .listedPixelsTab:before, .soldPixelsTab:before, .achievementsTab:before, .userSettingsTab:before {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 715px){
  .nav-tabs .nav-link, .userSettingsTab{
    width:25%;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
  }

  .nav-tabs .nav-link{
    width:25%;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
  }

  .currentPixelsTab:before, .listedPixelsTab:before, .soldPixelsTab:before, .achievementsTab:before, .userSettingsTab:before {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-size: contain;
  }
}

@media screen and (max-width: 575px){
  .navbar-collapse{
    padding-top: 20px;
    margin: 0 -20px;
  }
  .navbar-text{
    display: block;
    padding: 20px;
    margin: 0;
    background-color: #1d1d1d;
    border-bottom: 1px solid #3E3E3E;
  }

  .navbar-text:last-child{
    border-bottom: none;
  }
}

@media screen and (max-width: 550px){
  .nav-tabs .nav-link, .userSettingsTab{
    width:50%;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
  }
}
